body {
  margin: 0;
  background: color #f9fbfd;
  font-family: "raleway", sans-serif;
  font-weight: 300;
  color: #222;
}

.site_wrap {
  background-color: #fff;
  width: 100%;
  max-width: 75rem;
  margin: 2rem auto;
  border: 1px solid #84bdf0;
  box-sizing: border-box;
}

header {
  min-height: 11rem;
  display: grid;
  grid-template-columns: 22rem auto;
  border-bottom: 1px solid #7bbffb;
}

.site_title {
  font-weight: 400;
  font-family: "poiret One", sans-serif;
  font-size: 5rem;
  color: #595c5e;
  line-height: 11rem;
  margin: 0 0 0 3rem;
}

nav {
  text-align: right;
  margin: 0 3rem 0 0;
}

nav a {
  font-size: 1.2rem;
  color: #595c5e;
  text-decoration: none;
  display: inline-block;
  height: 11rem;
  line-height: 11rem;
  margin-left: 3rem;
  border-bottom: 4px solid #fff;
}

nav a:hover,
nav a.active {
  color: #4793d5;
  border-bottom: 4px solid #7bbffb;
}

svg {
  stroke: #7bbffb;
  stroke-width: 5;
  margin-right: 1rem;
  vertical-align: middle;
}

.open_menu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.burger {
  display: none;
  font-size: 1.25rem;
  padding: 0 3rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-top: 1px solid #7bbffb;
  cursor: pointer;
}

main {
  min-height: 5rem;
}

footer {
  height: 7rem;
  background-color: #1c3b81;
  border-top: 1px solid #7bbffb;
  text-align: center;
  color: white;
}

footer p {
  line-height: 7rem;
  margin: 0;
}

.hero {
  overflow: hidden;
  position: relative;
}

.hero_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3rem;
}

.hero_tagline {
  font-family: "raleway", sans-serif;
  font-size: 3.7rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgba(9, 38, 102, 0.8);
  align-self: end;
  margin: 0 2rem;
}

.hero_button {
  align-self: start;
}

a.blue_button {
  display: inline-block;
  background: #3c99ec;
  border: 2px solid #47b5ff;
  font-family: "raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(31, 72, 151, 0.5);
  border-radius: 1rem;
  padding: 1.25rem 1.75rem;
}

@media (max-width: 75em) {
  .site_wrap {
    margin: 0;
  }

  header {
    grid-template-columns: 100%;
  }

  .site_title {
    text-align: center;
    margin: 0;
  }

  nav {
    text-align: left;
    padding: 0 3rem;
  }

  nav a {
    display: block;
    margin: 0;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .burger {
    display: block;
  }

  .open_menu + .burger + nav {
    display: none;
    height: 0;
  }
  .open_menu:checked + .burger {
    background: #4793d5;
    color: #fff;
  }
  .open_menu:checked + .burger + nav {
    display: block;
    height: auto;
  }

  .open_menu:checked + .burger + svg {
    stroke: #fff;
  }

  @media (max-width: 22rem) {
    .burger {
      font-size: 6vw;
      padding: 0 2rem;
    }

    nav {
      padding: 0 2rem;
    }

    nav a {
      font-size: 6vw;
    }

    .site_title {
      font-size: 20vw;
    }
  }
}
